<body>
  <div>
    <mat-toolbar>
      <img src="assets/img/spassu.png" class="mr-2" alt="Imagem"/>
    </mat-toolbar>
  </div>
  <mat-card>
      <mat-card-header class="title">
          <mat-card-title>Meus Apontamentos</mat-card-title>
      </mat-card-header>
      <mat-card-actions class="cardAction" align="end">
        <button mat-button class="btn_meus_apt" routerLink="/">Realizar apontamentos</button>
      </mat-card-actions>
  </mat-card>
  <mat-card>
    <div class="row">
      <div class="col-md-3">
        <mat-card-header>
          <mat-card-title class="headerlb">Data Atual</mat-card-title>
        </mat-card-header>
        <div class="dateCalendar">
          <p-calendar [(ngModel)]="date" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" [disabledDays]="[0,6]"></p-calendar>
        </div>
      </div>
      <div class="col-md-3">
        <mat-card-header>
          <mat-card-title class="headerlb"
            >Selecione a Demanda</mat-card-title
          >
        </mat-card-header>
        <mat-form-field class="inputDem">
          <mat-label>ID da demanda TFS do ONS.</mat-label>
          <mat-select></mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <p-table [value]="apontamentos" dataKey="demanda" editMode="row" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:10%" id="professional-header">Profissional</th>
            <th style="width:10%" id="date-header">Dia/Mês</th>
            <th style="width:10%" id="demand-header">Demanda</th>
            <th style="width:10%" id="system-header">Sistema</th>
            <th style="width:10%" id="status-header">Status</th>
            <th style="width:10%" id="hours-header">Horas/Dia</th>
            <th style="width:10%" id="completion-header">% Conclusão</th>
            <th style="width:10%" id="impediment-header">Impedimento/Obs</th>
            <th style="width:10%"id="editar">Editar Apontamento</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-apontamento let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="apontamento">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apontamento.profissional" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{apontamento.profissional}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apontamento.dia_mes" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{apontamento.dia_mes}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apontamento.demanda" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{apontamento.demanda}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apontamento.sistema" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{apontamento.sistema}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apontamento.status" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{apontamento.status}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apontamento.horas_dia" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{apontamento.horas_dia}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apontamento.conclusao" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{apontamento.conclusao}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="apontamento.impedimento_obs" required>
                </ng-template>
                <ng-template pTemplate="output">
                  {{apontamento.impedimento_obs}}
                </ng-template>
              </p-cellEditor>
            </td>
                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(apontamento)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(apontamento)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(apontamento)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  </mat-card>
  <mat-toolbar class="rodape">
    <span>Política de privacidade</span>
  </mat-toolbar>
</body>
