<body>
  <mat-toolbar>
    <img src="assets/img/spassu.png" class="mr-2" alt="Imagem" />
  </mat-toolbar>
  <div class="subtitle">
    <h1 style="color: #fa4116">ONS - Apontamento de horas</h1>
    <h3>
      O objetivo do formulário é registrar as demandas diárias realizadas por
      você. Utilizar um formulário para cada tipo de demanda, uma vez que só
      deve ser escolhido um tipo de demanda por vez. O período de preenchimento
      do formulário deverá ser somente durante o seu horário contratual de
      trabalho.
    </h3>
  </div>
  <mat-card>
    <mat-card-header class="title" align="end">
      <header>Registrar Apontamentos</header>
    </mat-card-header>
    <mat-card-actions class="cardAction" align="end">
      <button mat-button class="btn_concluir" routerLink="/saveApont">
        Concluir apontamento
      </button>
      <button mat-button class="btn_meus_apt" routerLink="/meusApont">
        Meus apontamentos
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="forms">
    <div class="row">
      <div class="col-md-3" [formGroup]="apontamento" (ngSubmit)="onSubmit()" novalidate>
        <mat-card-header>
          <mat-card-title class="headerlb">Profissional</mat-card-title>
        </mat-card-header>
        <mat-form-field class="inputprofi">
          <mat-label>Selecione o profissional</mat-label>
          <mat-select [(ngModel)]="selectedProfissional" formControlName="prof" >
            <mat-option
              *ngFor="let profissional of profissionaisUnicos"
              [value]="profissional"
              >
              {{ profissional }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-card-header>
          <mat-card-title class="headerlb">Sistema</mat-card-title>
        </mat-card-header>
        <mat-form-field class="inputSist">
          <mat-label>Sistema em que atuou na demanda.</mat-label>
          <mat-select
            [(ngModel)]="selectedSistema"
            [disabled]="!selectedProfissional"
          >
            <mat-option
              *ngFor="let sistema of sistemasFiltrados"
              [value]="sistema"
            >
              {{ sistema }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-card-header>
          <mat-card-title class="headerlb">Data Atual</mat-card-title>
        </mat-card-header>
        <div class="dateCalendar">
          <p-calendar
            [(ngModel)]="date"
            [showIcon]="true"
            inputId="icon"
            dateFormat="dd/mm/yy"
            [disabledDays]="[0, 6]"
          ></p-calendar>
        </div>
      </div>
      <div class="col-md-3">
        <mat-card-header>
          <mat-card-title class="headerlb">Selecione a Demanda</mat-card-title>
        </mat-card-header>
        <mat-form-field class="inputDem">
          <mat-label>ID da demanda TFS do ONS.</mat-label>
          <mat-select></mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <mat-card-header>
          <mat-card-title class="headerlb">Demanda Emergencial</mat-card-title>
        </mat-card-header>
        <p-selectButton class="demEmer"
          [options]="stateOptionsDem"
          [(ngModel)]="demandaEmer"
          optionLabel="label"
          optionValue="value"
        >
        </p-selectButton>
      </div>
      <div class="col-md-2">
        <mat-card-header>
          <mat-card-title class="headerlb"
            >Etapa de Desenvolvimento</mat-card-title
          >
        </mat-card-header>
        <mat-form-field class="inputDem">
          <mat-label>Etapa em que a demanda se encontra.</mat-label>
          <mat-select>
            <mat-option value="e1">Esforço de Entendimento</mat-option>
            <mat-option value="e2">Esforço de Construção</mat-option>
            <mat-option value="e3">Esforço de Teste</mat-option>
            <mat-option value="e4">Esforço de Documentação</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-card-header>
          <mat-card-title class="headerlb"
            >Horas produto trabalhadas</mat-card-title
          >
        </mat-card-header>
        <mat-form-field class="inputHor">
          <mat-label>Apenas números.</mat-label>
          <input matInput type="number"
          min="0"
          max="12"
          placeholder="Ex. 1h15min = 1.25"
          required />
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-card-header>
          <mat-card-title class="headerlb"
            >Percentual de Conclusão</mat-card-title
          >
        </mat-card-header>
        <mat-form-field class="inputPerc">
          <mat-label>Apenas números.</mat-label>
          <input matInput type="number"
          min="0"
          max="100"
          placeholder="Ex. 100">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-card-header>
          <mat-card-title class="headerlb">Algum impedimento?</mat-card-title>
        </mat-card-header>
        <p-selectButton class="demEmer"
          [options]="stateOptionsImp"
          [(ngModel)]="impeObs"
          optionLabel="label"
          optionValue="value"
          (onChange)="onImpedimentoChange()"
        >
        </p-selectButton>
      </div>
      <div class="col-md-2" *ngIf="mostrarPorQuem">
        <mat-card-header>
          <mat-card-title class="headerlb">Por quem?</mat-card-title>
        </mat-card-header>
        <mat-radio-group>
          <mat-radio-button value="1">Spassu</mat-radio-button>
          <mat-radio-button value="2">ONS</mat-radio-button>
          <mat-radio-button value="2">Pessoal</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngIf="mostrarObservacoes">
        <mat-card-header>
          <mat-card-title class="headerlb"
            >Observações ou explicação do impedimento?</mat-card-title
          >
        </mat-card-header>
        <mat-form-field class="inputText">
          <mat-label>Insira sua resposta</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <mat-toolbar class="rodape">
    <span>Política de privacidade</span>
  </mat-toolbar>
</body>
