.container {
  display: flex;
  align-items: center;
}

.mat-toolbar {
  height: 100px;
  border-bottom: 3px solid #fa4116;
}

.mr-2 {
  height: 40px;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.subtitle h1 {
  color: #fa4116;
  margin: 0;
  font-size: 20px;
}

.subtitle h3 {
  margin: 0;
  font-size: 14px;
}
::ng-deep .mat-mdc-card {
  margin-left: 20px;
  margin-right: 20px;
}
.title {
  width: 300px;
  height: 32px;
  margin-top: 30px;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: #F94615;
}

.btn_concluir {
  margin-right: 20px;
  width: 215px;
  height: 40px;
  background: #1f1546;
  border-radius: 5px;
}
.btn_meus_apt {
  width: 215px;
  height: 40px;
  background: #f94615;
  border: 2px solid #f94615;
  border-radius: 5px;
}

.cardAction{
  margin-top: -30px;
}
.forms{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.headerlb{
  color: #000000;
  font-size: 15px;
  margin-top: 5px;
}

.headerlb1{
  color: #000000;
  font-size: 15px;
  margin-top: 5px;
}

.inputprofi {
  margin: 10px;
  margin-bottom: -20px;
  width: 90%;
  color: #fa4616 !important;
}
.inputSist{
  margin: 10px;
  margin-bottom: -20px;
  width: 90%;
  color: #fa4616 !important;
}
.inputdata {
  margin: 10px;
  margin-bottom: -20px;
  width: 80%;
}
.inputDem {
  margin: 10px;
  width: 90%;
}

.inputPerc{
  margin: 10px;
  width: 100%;
}
.inputHor{
  margin: 10px;
  width: 100%;
}

.slide{
  margin-left: 20px;

}

.mat-mdc-button:not(:disabled) {
  color: #ffffff;
}

.mat-mdc-radio-button {

  font-size: 15px;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #ffffff;
}
.inputText {
  background-color: #ffff;
  margin: 10px;
  height: 200px;
  font-size: 15px;
  width: 100%;
}
.inputText mat-label{
  font-size: 15px;
}

.rodape {
  margin-top: 10px;
  background-color: #1f1546;
  color: #ffffff;
  height: 40px;
  font-weight: 50;
  font-size: 15px;
}

.dateCalendar{
  margin-top: 10px;
  margin-left: 15px;
}
::ng-deep .p-calendar-w-btn {
  border-top: #ffffff;
  border-left: #ffffff;
  border-right: #ffffff;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.42);
  background: #ffffff;
  border-radius: 0px;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.demEmer{
  display: flex;
  margin-left: 30px;
  margin-top: 10px;
}
.impObs{
display: flex;
margin-left: 30px;
margin-top: 10px;
}
::ng-deep .p-selectbutton .p-button.p-highlight {
  background: #1f1546;
  border-color: #1f1546;
  color: #ffffff;
}
::ng-deep .p-selectbutton .p-button:focus.p-highlight {
background: #1f1546;
border-color: #1f1546;

}
::ng-deep .p-selectbutton .p-button.p-highlight:hover {
background: #1f1546;
border-color: #1f1546;
color: #ffffff;

}
::ng-deep .p-button {
color: #ffffff;
border: 0 none;
padding: 0.3rem;
font-size: 1rem;
transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
border-radius: 4px;
}
::ng-deep.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: #151414 !important;
}
::ng-deep.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-focus-icon-color: #212121;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: #0000;
  --mdc-radio-selected-hover-icon-color: #1f1546;
  --mdc-radio-selected-icon-color: #1f1546;
  --mdc-radio-selected-pressed-icon-color: #1f1546;
  --mat-mdc-radio-ripple-color: #000;
  --mat-mdc-radio-checked-ripple-color: #1f1546;
}
::ng-deep.mdc-form-field>label {
  margin-left: 0;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0;
  order: 0;
}

