/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Arial,Roboto, "Helvetica Neue", sans-serif; }

@import '~bootstrap/dist/css/bootstrap.min.css';

.btn-lg {
  background-color: #fa4616;
  color: white;
  margin-left: 10px;
  width: 200px;
  margin-bottom: 50px;
}
.inputPerc{
  margin: 10px;
  width: 39%;
}
.inputHor{
  margin: 10px;
  width: 60%;
}
